

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
   

}

body{
font-size: 10px;
padding: 1.5em;
  position: relative;
  


  

}

html{
   
    overflow-x: hidden;
}

.slider-container{

       height: 95.5vh;
   background-image: url('/banner-image2.jpg');
   background-size: cover;
   background-position: center;
  

   
}
.logo{
    font-size: 2rem;
     color: white;
     
}
a{  
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-left: 3em;
     color: white;

}

.banner{
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    position:absolute;
    left: 60%;
    top: 20%;
   
}

.main-container{
    margin-top: 1rem;
    display: flex;
    height: 70vh;
    width: 100vw;
    gap: 15px;
    flex-wrap: wrap;
   
   
}
.col-image{
    height: 75vh;
    width: 48vw;
    
    
   
}

img{
    object-fit: cover;
}

.col{
     height: 75vh;
    width: 48vw;
    background-color: #F5F5F5;   

}

.cols{
     height: 75vh;
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {

    body{
font-size: 10px;
padding: 1.5em;
  position: relative;
  overflow-x: hidden;


  

}
  .col-image{
      width: 93.2vw;

      height: 30vh;
  }

  .col{
      width: 93.2vw;
      height: 30vh;
  }

  .cols{
      padding-left: 5%;
      padding-right: 5%;
     height: 30vh;
    width: 93.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


    

.slider-container{

    height: 70vh;
   background-image: url('/baner-image.jpg');
   background-size: cover;
   background-position: center;
  

   
}

  

   
}



h5{
      font-family: 'Vollkorn', serif;  
      font-size: 1rem;
      font-weight: 400;
      color: #333;
      font-style: italic;
      margin-top: 0.3em;
    

}

h2{
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
      line-height: 2.5rem;
      letter-spacing: -3px;
      color: #333;
}

p{  
    margin-top: 2em;
    padding-left: 8em;
     padding-right: 8em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
        color: #5c5c5c;
    display: block;
    line-height: 1.6rem;
    letter-spacing: -0.5px;


}

a.button{  
    border: 2px solid black;
    color: #333;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: -1px;
    height: 3.6rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 0;
   

}

.numbers{
   
    display: flex;
    justify-content:space-between;
    width: 50vw;
    height: 100px;
    margin-top: 5em;
    margin-bottom: 5em;
    align-items: center;
    

   
    
}

.num-container{
    display: flex;
    width: 100vw;
    justify-content: center;
}